<!--
==================================================
Call To Action Section Start
================================================== -->
<section id="call-to-action">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h2 class="title wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms">SO WHAT DO YOU THINK ?</h2>
                    <p class="wow fadeInDown" data-wow-delay=".5s" data-wow-duration="500ms">
                      If you want more informations, feel free to contact me.<br>
                      I will discuss about my experiences and my motivations with great pleasure !<br>
                      <strong>Email :</strong> alexis.dardenne7@gmail.com<br>
                      Or click the button below to reach the contact page of my personnal website.
                    </p>
                    <a href="http://imagiweb.be/contact" target="_blank" class="btn btn-default btn-contact wow fadeInDown" data-wow-delay=".7s" data-wow-duration="500ms">Contact With Me</a>
                </div>
            </div>

        </div>
    </div>
</section>

<!--
==================================================
Footer Section Start
================================================== -->
<footer id="footer">
    <div class="container">
        <div class="col-md-8">
            <p class="copyright">Copyright: <span><script>document.write(new Date().getFullYear())</script></span> Developed by <a href="http://imagiweb.be" target="_blank">Alexis Dardenne</a> <br>
                Get More
                <a href="https://github.com/Dardena7" target="_blank">
                  Personal Github
                </a>
            </p>
        </div>
        <div class="col-md-4">
            <!-- Social Media -->
            <ul class="social">
                <li>
                    <a href="http://wwww.facebook.com/profile.php?id=100010183513235" target="_blank" class="Facebook">
                        <i class="ion-social-facebook"></i>
                    </a>
                </li>
                <li>
                    <a href="http://www.linkedin.com/in/alexis-dardenne-3a997a171/" target="_blank" class="Linkedin">
                        <i class="ion-social-linkedin"></i>
                    </a>
                </li>
                <li>
                    <a href="mailto:alexis.dardenne7@gmail.com" target="_blank" class="Gmail">
                        <i class="ion-email"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer> <!-- /#footer -->
