{% extends '@OCPlatform/layout.html.twig' %}

{% block h1title %}
  Post a new offer
{% endblock %}

{% block main %}
<!--=====================================
=            Full Width Blog            =
======================================-->
<section id="blog-full-width">
    <div class="container">
        <!-- Pagination -->
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                {% block addform %}
                  {{ include("@OCPlatform/Advert/form.html.twig") }}
                {% endblock %}
            </div>
        </div>
    </div>
</section>

{% endblock main %}
