{% extends '@OCUser/layout.html.twig' %}

{% block fos_user_content %}
  <div class="block text-muted">
    {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
        {{ form_widget(form) }}
        <div>
            <input type="submit" value="Confirm" />
        </div>
    {{ form_end(form) }}
  </div>
{% endblock fos_user_content %}
