{% extends '@OCPlatform/layout.html.twig' %}

{% block main %}

<section id="hero-area" >
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-md-8 col-md-offset-2 text-center">
            
              {% block fos_user_content %}
              {% endblock fos_user_content %}
            </div>
        </div>
    </div>
</section>

{% endblock main %}
